{% extends 'layout.html' %}
{% load staticfiles %}
{% block content %}

<div class="container-fluid p-0">
    <div class="row m-0 justify-content-center">
        <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9 p-md-0 mt-3">
            <div class="row m-0 justify-content-start align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="custom-breadcrumb breadcrumb px-0">
                        <li class="breadcrumb-item"><a href=""><i class="fa fa-home home-icon" aria-hidden="true"></i></a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a href="#">Бренды</a></li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9 p-md-0 brands_blk head_blk mb-5">
            <div class="row m-0 justify-content-start align-items-center">
                <div class="row m-0 justify-content-start align-items-center">
                    <h1>Бренды</h1>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-11 col-lg-12 col-xl-12 p-0 mt-3 mx-auto">
                <div class="row m-0 justify-content-start align-items-center">
                    {% for i in items %}
                    <div class="col-12 col-md-4 col-lg-3 brand-card">
                        <div class="scale">
                            <img src="{{ MEDIA_URL }}{{ i.image.url }}" alt="" class="img-fluid scale">
                        </div>
                        <div>
                            <a href="">{{i.name}}</a>
                        </div>
                    </div>
                    {% endfor %}
<!--                    <div class="col-12 col-md-4 col-lg-3 brand-card">-->
<!--                        <div class="scale">-->
<!--                            <img src="/static/image/brand_2.png" alt="" class="img-fluid scale">-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <a href="">American Crew</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-12 col-md-4 col-lg-3 brand-card">-->
<!--                        <div class="scale">-->
<!--                            <img src="/static/image/brand_3.png" alt="" class="img-fluid scale">-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <a href="">Angel Professional</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-12 col-md-4 col-lg-3 brand-card">-->
<!--                        <div class="scale">-->
<!--                            <img src="/static/image/brand_4.png" alt="" class="img-fluid scale">-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <a href="">Artego</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-12 col-md-4 col-lg-3 brand-card">-->
<!--                        <div class="scale">-->
<!--                            <img src="/static/image/brand_5.png" alt="" class="img-fluid scale">-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <a href="">Londa</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-12 col-md-4 col-lg-3 brand-card">-->
<!--                        <div class="scale">-->
<!--                            <img src="/static/image/brand_6.png" alt="" class="img-fluid scale">-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <a href="">MoroccanOil</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-12 col-md-4 col-lg-3 brand-card">-->
<!--                        <div class="scale">-->
<!--                            <img src="/static/image/brand_7.png" alt="" class="img-fluid scale">-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <a href="">Schwarzkopf</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-12 col-md-4 col-lg-3 brand-card">-->
<!--                        <div class="scale">-->
<!--                            <img src="/static/image/brand_8.png" alt="" class="img-fluid scale">-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <a href="">Wella</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-12 col-md-4 col-lg-3 brand-card">-->
<!--                        <div class="scale">-->
<!--                            <img src="/static/image/brand_9.png" alt="" class="img-fluid scale">-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <a href="">Paul Mitchell</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-12 col-md-4 col-lg-3 brand-card">-->
<!--                        <div class="scale">-->
<!--                            <img src="/static/image/brand_10.png" alt="" class="img-fluid scale">-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <a href="">Matrix</a>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}