{% extends 'layout.html' %}
{% load staticfiles %}
{% block content %}

<div class="container-fluid p-0">
    <div class="row m-0 justify-content-center">
        <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9 p-md-0 head_blk my-4">
            <div class="row m-0 justify-content-start align-items-center">
                <h1 class="m-0">Адрес доставки</h1>
            </div>
        </div>

        <div class="col-12 col-md-12 col-lg-11 col-xl-11 p-0 p-md-0 mt-md-3 mb-5">
            <div class="row m-0 justify-content-start">
                <div class="col-12 col-md-4 col-lg-4 col-xl-3 p-0">
                    <nav class="nav nav_menu flex-column mb-3 mb-md-0">
                        <a class="nav-link" href="#">История заказов</a>
                        <a class="nav-link" href="#">Адрес доставки</a>
                        <a class="nav-link" href="#">Контактный данные</a>
                        <a class="nav-link" href="#">Выход</a>
                    </nav>
                </div>

                <div class="col-12 col-md-8 col-lg-8 col-xl-9 p-0">
                    <div class="row m-0">
                        <div class="col-12 col-md-12 col-lg-12 col-xl-12 mt-3 mt-md-0">
                            <form class="address-form col-12 p-0">
                                <div class="form-group col-md-9 col-lg-8 col-xl-6 p-0">
                                    <label for="inputCity">Населенный пункт <span class="font-weight-bold">*</span></label>
                                    <input type="text" class="form-control" id="inputCity">
                                </div>
                                <div class="form-group col-md-9 col-lg-8 col-xl-6 p-0">
                                    <label for="inputStreet">Улица <span class="font-weight-bold">*</span></label>
                                    <input type="text" class="form-control" id="inputStreet">
                                </div>
                                <div class="form-group col-md-9 col-lg-8 col-xl-6 p-0">
                                    <label for="inputHouse">Дом <span class="font-weight-bold">*</span></label>
                                    <input type="text" class="form-control" id="inputHouse">
                                </div>
                                <div class="form-group col-md-9 col-lg-8 col-xl-6 p-0">
                                    <label for="inputApart">Квартира</label>
                                    <input type="text" class="form-control" id="inputApart">
                                </div>
                                <div class="col-12 col-sm-12 col-md-11 col-lg-12 col-xl-12 p-0 mx-lg-auto">
                                    <hr class="hr-divider">
                                </div>
                                <div class="col-12 col-md-12 col-lg-12 col-xl-12 d-flex flex-wrap justify-content-md-start align-items-center p-0 mt-4">
                                    <button type="submit" class="btn save-btn mx-auto mx-md-0">СОХРАНИТЬ ИЗМЕНЕНИЯ</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}