{% extends 'layout.html' %}
{% load staticfiles %}
{% block content %}

<div class="container-fluid p-0">
    <div class="row m-0 justify-content-center">
        <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9 p-md-0 mt-3">
            <div class="row m-0 justify-content-start align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="custom-breadcrumb breadcrumb px-0">
                        <li class="breadcrumb-item"><a href=""><i class="fa fa-home home-icon" aria-hidden="true"></i></a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a href="#">Лицо</a></li>
                        <li class="breadcrumb-item active d-none d-md-block" aria-current="page"><a href="#">3Lab Очищающий скраб для лица</a></li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9 p-md-0 item-card_blk">
                <div class="row m-0 justify-content-start align-items-center">
                    <div class="col-md-7 col-lg-8 col-xl-10 p-0">
                        <h1>3Lab Очищающий скраб для лица</h1>
                    </div>
                    <div class="col-md-5 col-lg-4 col-xl-2 px-0 px-md-3 text-md-right">
                        <span class="vendor-code">Артикул: 766622</span>
                    </div>
                </div>
            <div class="col-12 col-sm-12 col-md-11 col-lg-12 col-xl-12 p-0 mt-3 mx-auto">
                <div class="row m-0 justify-content-start align-items-center">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-12 col-md-5 col-lg-4 my-auto">
                                <img src="/static/image/item-card_1.png" class="card-img img-fluid" alt="">
                            </div>
                            <div class="col-12 col-md-7 col-lg-8">
                                <div class="card-body">
                                    <p class="card-text">Идеальный очищающий скраб для лица 3Lab Perfect Cleansing Scrub - эффективный препарат, предназначенный для глубокого очищения сенситивного кожного покрова. Состав средства обогащен мелкими гранулами жожоба, полирующих эпидермис, устраняющих ороговевшие клеточки, не вызывая раздражений. Скраб обладает смягчающими и освежающими характеристиками. Жожоба в сочетании с аллантоином успокаивает кожный покров, наделяет красивым и здоровым внешним видом.</p>
                                    <p class="card-text text-center text-md-left">
                                        <span class="price-text">1 660 руб</span>
                                    </p>
                                    <p class="card-text text-center text-md-left">Объем: <b>100 мл</b></p>
                                    <div class="items-counter mb-4 text-center text-md-left">
                                        <button class="minus"><i class="fa fa-minus" aria-hidden="true"></i></button>
                                        <input type="number" value="1"/>
                                        <button class="plus"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                    </div>
                                    <div class="text-center text-md-left">
                                        <button class="btn">В корзину</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9 p-md-0 item-card_blk mb-5">
            <div class="row m-0 justify-content-start align-items-center">
                <div class="col-12 p-0">
                    <h3>Потребности:</h3>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 mt-2">
                <div class="row m-0 justify-content-start align-items-center">
                    <a href=""><span class="badge">Жирная кожа</span></a>
                    <a href=""><span class="badge badge-light">Комбинированная кожа</span></a>
                    <a href=""><span class="badge badge-light">Проблемная кожа</span></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9 p-md-0 item-card_blk mb-5">
            <div class="row m-0 justify-content-start align-items-center">
                <div class="col-12 p-0">
                    <h3>Примечание:</h3>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 mt-3">
                <div class="row m-0 justify-content-start align-items-center">
                    <p class="card-text">Идеальный очищающий скраб для лица 3Lab Perfect Cleansing Scrub - эффективный препарат, предназначенный для глубокого очищения сенситивного кожного покрова. Состав средства обогащен мелкими гранулами жожоба, полирующих эпидермис, устраняющих ороговевшие клеточки, не вызывая раздражений. Скраб обладает смягчающими и освежающими характеристиками. Жожоба в сочетании с аллантоином успокаивает кожный покров, наделяет красивым и здоровым внешним видом.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9 p-md-0 item-card_blk mb-5">
            <div class="row m-0 justify-content-start align-items-center">
                <div class="col-12 p-0">
                    <h3>Состав:</h3>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 mt-3">
                <div class="row m-0 justify-content-start align-items-center">
                    <p class="card-text">Идеальный очищающий скраб для лица 3Lab Perfect Cleansing Scrub - эффективный препарат, предназначенный для глубокого очищения сенситивного кожного покрова. Состав средства обогащен мелкими гранулами жожоба, полирующих эпидермис, устраняющих ороговевшие клеточки, не вызывая раздражений. Скраб обладает смягчающими и освежающими характеристиками. Жожоба в сочетании с аллантоином успокаивает кожный покров, наделяет красивым и здоровым внешним видом.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9 p-md-0 item-card_blk mb-3">
            <div class="row justify-content-between">
                <div class="col-3 col-md-4">
                    <hr class="">
                </div>
                <div class="col-6 col-md-4 pt-1 text-center">
                    <h2>Похожие товары</h2>
                </div>
                <div class="col-3 col-md-4">
                    <hr class="">
                </div>
            </div>
            <div class="items-list_catalog">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-md-0 my-md-4">
                        <div class="row m-0 justify-content-start align-items-center">
                            <div class="card-deck ml-md-2">
                                <div class="card col-lg-4 col-xl-3 mx-auto">
                                    <img src="/static/image/image-27.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">3Lab Увлажняющий крем для лица</h5>
                                        <p class="card-text">Идельно подойдет для ежедневного использования</p>
                                        <button type="submit" class="btn btn-buy mx-auto">Купить</button>
                                    </div>
                                    <div class="card-footer">
                                        <hr>
                                        <small class="text-muted">3 200 руб</small>
                                    </div>
                                </div>
                                <div class="card col-lg-4 col-xl-3 mx-auto">
                                    <img src="/static/image/image-28.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">3Lab Очищающий скраб для лица</h5>
                                        <p class="card-text">Предназначен для глубокого очищения кожи</p>
                                        <button type="submit" class="btn btn-buy mx-auto">Купить</button>
                                    </div>
                                    <div class="card-footer">
                                        <hr>
                                        <small class="text-muted">1 660 руб</small>
                                    </div>
                                </div>
                                <div class="card col-lg-4 col-xl-3 mx-auto">
                                    <img src="/static/image/image-29.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">3Lab Очищающий гель для лица</h5>
                                        <p class="card-text">Обеспечивает бережный и тщательный уход</p>
                                        <button type="submit" class="btn btn-buy mx-auto">Купить</button>
                                    </div>
                                    <div class="card-footer">
                                        <hr>
                                        <small class="text-muted">1 530 руб</small>
                                    </div>
                                </div>
                                <div class="card col-lg-4 col-xl-3 mx-auto">
                                    <img src="/static/image/image-27.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">3Lab Увлажняющий крем для лица</h5>
                                        <p class="card-text">Идельно подойдет для ежедневного использования</p>
                                        <button type="submit" class="btn btn-buy mx-auto">Купить</button>
                                    </div>
                                    <div class="card-footer">
                                        <hr>
                                        <small class="text-muted">3 200 руб</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}