{% extends 'layout.html' %}
{% load staticfiles %}
{% block content %}

<div class="container-fluid p-0">
    <div class="row m-0 justify-content-center">
        <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9 p-md-0 mt-3">
            <div class="row m-0 justify-content-start align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="custom-breadcrumb breadcrumb px-0">
                        <li class="breadcrumb-item"><a href=""><i class="fa fa-home home-icon" aria-hidden="true"></i></a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a href="#">Новости</a></li>
                        <li class="breadcrumb-item active d-none d-md-block" aria-current="page"><a href="#">Новая линейка косметики от COSMEDIX</a></li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9 p-md-0 mt-md-2 news-details_blk">
            <div class="row m-0 justify-content-start align-items-center">
                <div class="col-md-7 col-lg-8 col-xl-10 p-0">
                    <h1>Новая линейка косметики от COSMEDIX</h1>
                </div>
                <div class="col-md-5 col-lg-4 col-xl-2 px-0 px-md-3 text-md-right">
                    <small class="text-muted">
                        <i class="fa fa-calendar" aria-hidden="true"></i>07.01.2020
                    </small>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-11 col-lg-12 col-xl-12 p-0 my-md-4 mx-auto">
                <div class="row m-0 justify-content-center">
                    <div class="">
                        <p><img src="/static/image/news_28.png" class="img-fluid float-md-left" alt="">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Urna cursus eget nunc scelerisque viverra. Pretium quam vulputate dignissim suspendisse in est ante in nibh. Urna et pharetra pharetra massa. Urna nec tincidunt praesent semper feugiat nibh sed pulvinar. Dui accumsan sit amet nulla facilisi morbi tempus iaculis urna. Viverra orci sagittis eu volutpat odio. Penatibus et magnis dis parturient montes nascetur ridiculus. Tortor posuere ac ut consequat semper viverra nam. Ultricies tristique nulla aliquet enim tortor at auctor urna nunc. Vitae sapien pellentesque habitant morbi tristique senectus et netus. Suscipit adipiscing bibendum est ultricies integer quis auctor. Commodo quis imperdiet massa tincidunt nunc pulvinar sapien.
                        </p>
                        <p>
                            Enim sed faucibus turpis in eu mi. Sapien et ligula ullamcorper malesuada proin. Venenatis cras sed felis eget velit aliquet. Integer enim neque volutpat ac tincidunt vitae semper. Sed blandit libero volutpat sed cras. Aliquam malesuada bibendum arcu vitae elementum curabitur vitae. Feugiat vivamus at augue eget. Eget mauris pharetra et ultrices neque ornare. Mi in nulla posuere sollicitudin aliquam ultrices. Vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor. Quis varius quam quisque id diam vel quam. Interdum velit euismod in pellentesque massa placerat duis.
                        </p>
                        <p>
                            Pulvinar etiam non quam lacus suspendisse faucibus interdum posuere. Urna molestie at elementum eu facilisis sed odio morbi quis. Arcu cursus euismod quis viverra nibh cras pulvinar. Ornare massa eget egestas purus. Malesuada fames ac turpis egestas integer eget. Nisi lacus sed viverra tellus in. Porta lorem mollis aliquam ut porttitor leo a. Feugiat scelerisque varius morbi enim nunc faucibus. Pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus. At in tellus integer feugiat scelerisque. Quis vel eros donec ac odio tempor orci dapibus. Morbi tristique senectus et netus et malesuada fames ac turpis. In mollis nunc sed id semper. Maecenas ultricies mi eget mauris pharetra et ultrices neque ornare. Tincidunt eget nullam non nisi est sit amet. A erat nam at lectus urna duis convallis convallis. Lectus urna duis convallis convallis tellus id interdum velit laoreet.
                        </p>
                        <p>
                            In hac habitasse platea dictumst vestibulum. Semper auctor neque vitae tempus quam pellentesque nec nam. Orci porta non pulvinar neque laoreet suspendisse interdum. Duis at tellus at urna condimentum mattis pellentesque. Gravida arcu ac tortor dignissim convallis aenean et tortor. Sit amet tellus cras adipiscing enim. Risus quis varius quam quisque id diam. Purus semper eget duis at tellus at. Enim neque volutpat ac tincidunt vitae semper quis lectus nulla. Lacus viverra vitae congue eu consequat ac. Sed id semper risus in hendrerit gravida. Lacus laoreet non curabitur gravida arcu ac. Amet facilisis magna etiam tempor orci eu lobortis elementum. Vel fringilla est ullamcorper eget. Varius morbi enim nunc faucibus. Ornare aenean euismod elementum nisi quis eleifend. Non diam phasellus vestibulum lorem sed risus ultricies tristique. Ultricies mi eget mauris pharetra.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9 p-md-0 news-details_blk mb-3">
            <div class="row justify-content-between">
                <div class="col-3 col-md-4">
                    <hr class="">
                </div>
                <div class="col-6 col-md-4 pt-1 text-center">
                    <h2>Товары к статье</h2>
                </div>
                <div class="col-3 col-md-4">
                    <hr class="">
                </div>
            </div>
            <div class="items-list_catalog">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-md-0 my-md-4">
                        <div class="row m-0 justify-content-start align-items-center">

<!--                            <div class="card-deck ml-md-2">-->
                                <div class="card-deck slider multiple-items w-100">
                                <div class="card">
                                    <div class="card-wrap">
                                    <img src="/static/image/image-27.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">3Lab Увлажняющий крем для лица</h5>
                                        <p class="card-text">Идельно подойдет для ежедневного использования</p>
                                        <button type="submit" class="btn btn-buy mx-auto">Купить</button>
                                    </div>
                                    <div class="card-footer">
                                        <hr>
                                        <small class="text-muted">3 200 руб</small>
                                    </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-wrap">
                                    <img src="/static/image/image-28.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">3Lab Очищающий скраб для лица</h5>
                                        <p class="card-text">Предназначен для глубокого очищения кожи</p>
                                        <button type="submit" class="btn btn-buy mx-auto">Купить</button>
                                    </div>
                                    <div class="card-footer">
                                        <hr>
                                        <small class="text-muted">1 660 руб</small>
                                    </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-wrap">
                                    <img src="/static/image/image-29.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">3Lab Очищающий гель для лица</h5>
                                        <p class="card-text">Обеспечивает бережный и тщательный уход</p>
                                        <button type="submit" class="btn btn-buy mx-auto">Купить</button>
                                    </div>
                                    <div class="card-footer">
                                        <hr>
                                        <small class="text-muted">1 530 руб</small>
                                    </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-wrap">
                                    <img src="/static/image/image-27.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">3Lab Увлажняющий крем для лица</h5>
                                        <p class="card-text">Идельно подойдет для ежедневного использования</p>
                                        <button type="submit" class="btn btn-buy mx-auto">Купить</button>
                                    </div>
                                    <div class="card-footer">
                                        <hr>
                                        <small class="text-muted">3 200 руб</small>
                                    </div>
                                    </div>
                                </div>
                                    <div class="card">
                                        <div class="card-wrap">
                                            <img src="/static/image/image-27.png" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">3Lab Увлажняющий крем для лица</h5>
                                                <p class="card-text">Идельно подойдет для ежедневного использования</p>
                                                <button type="submit" class="btn btn-buy mx-auto">Купить</button>
                                            </div>
                                            <div class="card-footer">
                                                <hr>
                                                <small class="text-muted">3 200 руб</small>
                                            </div>
                                        </div>
                                    </div>
                            </div>
<!--                        </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}