{% extends 'layout.html' %}
{% load staticfiles %}
{% block content %}

    <div class="container-fluid p-0">
        <div class="row m-0 justify-content-center">
            <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9 p-md-0 head_blk my-4">
                <div class="row m-0 justify-content-start align-items-center">
                    <h1 class="m-0">История заказов</h1>
                </div>
            </div>

            <div class="col-12 col-md-12 col-lg-11 col-xl-11 p-0 p-md-0 mt-md-3 mb-5">
                <div class="row m-0 justify-content-start">
                    <div class="col-12 col-md-4 col-lg-4 col-xl-3 p-0">
                        <nav class="nav nav_menu flex-column mb-3 mb-md-0">
                            <a class="nav-link" href="{% url 'Orders_history' %}">История заказов</a>
                            <a class="nav-link" href="{% url 'Delivery_address' %}">Адрес доставки</a>
                            <a class="nav-link" href="{% url 'Contact_details' %}">Контактный данные</a>
                            <a class="nav-link" href="{% url 'Logout' %}">Выход</a>
                        </nav>
                    </div>

                    <div class="col-12 col-md-8 col-lg-8 col-xl-9 p-0">
                        <div class="row m-0">
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12 p-0 my-3 my-md-2">

                                {% for i in orders %}
                                    <div class="row m-0 justify-content-start align-items-center mb-4 order_history">
                                        <div class="col-12 col-md-5 col-lg-5">
                                            <a href="#" class="order-date m-0">Заказ от {{ i.date }}</a>
                                        </div>
                                        <div class="col-6 col-md-3 col-lg-4 mt-3 mt-md-0">
                                            <span class="order-price">{{ i.summ }} руб</span>
                                        </div>
                                        <div class="col-6 col-md-4 col-lg-3 mt-3 mt-md-0 text-right text-md-left">
                                            <span class="order-status">{{ i.status.name }}</span>
                                        </div>
                                    </div>
                                {% endfor %}



                                {#                                <div class="row m-0 justify-content-start align-items-center mb-4 order_history">#}
                                {#                                    <div class="col-12 col-md-5 col-lg-5">#}
                                {#                                        <a href="#" class="order-date m-0">Заказ от 16.03.2020г</a>#}
                                {#                                    </div>#}
                                {#                                    <div class="col-6 col-md-3 col-lg-4 mt-3 mt-md-0">#}
                                {#                                        <span class="order-price">3320 руб</span>#}
                                {#                                    </div>#}
                                {#                                    <div class="col-6 col-md-4 col-lg-3 mt-3 mt-md-0 text-right text-md-left">#}
                                {#                                        <span class="order-status">отправлено</span>#}
                                {#                                    </div>#}
                                {#                                </div>#}

                                <div class="row m-0 justify-content-center align-items-center nav_blk">
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination">

                                            {% if prev %}
                                                <li class="page-item">
                                                    <a class="page-link" href="{% url 'Orders_history_page' prev %}"
                                                       aria-label="Previous">
                                                        <span aria-hidden="true">
                                                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                            {% endif %}

                                            {% for i in pages %}
                                                {% if not i %}
                                                    <a class="page-link" href="">...</a>
                                                {% else %}
                                                    <li class="page-item">
                                                        {% if forloop.counter == chs %}
                                                            <a class="page-link"
                                                               href="{% url 'Orders_history_page' i %}"
                                                               style="color: #E7B9CB;">
                                                                <b>{{ i }}</b>
                                                            </a>
                                                        {% else %}
                                                            <a class="page-link"
                                                               href="{% url 'Orders_history_page' i %}">
                                                                {{ i }}
                                                            </a>
                                                        {% endif %}
                                                    </li>
                                                {% endif %}
                                            {% endfor %}

                                            {% if next %}
                                                <li class="page-item">
                                                    <a class="page-link" href="{% url 'Orders_history_page' next %}"
                                                       aria-label="Next">
                                        <span aria-hidden="true">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </span>
                                                    </a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>

                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}