html {
    scroll-behavior: smooth;
}
body {
    background-color: #fff;
    font-family: 'Comfortaa', cursive;
}
a {
    color: #000000;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #000000;
}
.header {
    background: #E7B9CB;
    font-size: 1.2rem;
    line-height: 22px;
    overflow-x: hidden;
}
.header h1 {
    font-size: 1.2rem;
    line-height: 22px;
}
.header hr {
    border: 1px solid #000000;
}
.header a {
    position: relative;
    top: 10px;
}
.header .cart-hdr {
    font-size: 1rem;
    line-height: 18px;
}
.nav_block input {
    border-right: none;
}
.nav_block .input-group-text {
    background-color: transparent;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.nav_block .nav-item i {
    font-size: .7rem;
}
.nav_block .nav-item .nav-link {
    padding-left: 0;
    margin-right: 1.5rem;
    color: #000000;
}
.nav_block .nav-item .nav-link:after {
    background-color: #E13075;
    display: block;
    margin-top: 1%;
    content: "";
    height: 2px;
    width: 0;
    transition: width .5s ease-in-out;
}
.nav_block .nav-item .nav-link:hover:after,
.nav_block .nav-item .nav-link:focus:after {
    width: 100%;
}
.nav_block .nav-item .nav-link:hover {
    color: #000000;
}
.items_hdr_bg {
    height: 20rem;
    min-height: 10rem;
}
.hair_hdr_bg {
    background: url(/static/image/hair-item.png);
    background-size: cover;
}
.face_hdr_bg {
    background: url(/static/image/face-item.png);
    background-size: cover;
}
.body_hdr_bg {
    background: url(/static/image/body-item.png);
    background-size: cover;
}
.others_hdr_bg {
    background: url(/static/image/others-item.png);
    background-size: cover;
}
.item_hdr_bg_layout {
    height: 100%;
    width: 100%;
    background: rgba(51, 51, 51, 0.5);
}
.item_hdr_bg_layout a {
    color: #FFFFFF;
}
.item_hdr_bg_layout h2 {
    font-size: 2.5rem;
    line-height: 54px;
    text-align: center;
    margin: 0;
}
.shop-items_blk h3 {
    margin: 0;
    margin-bottom: 1.5rem;
    padding-bottom: .3rem;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 27px;
    color: #000000;
    border-bottom: 2px solid #E13075;
}
.shop-items_blk .card {
    border-radius: 0;
}
.shop-items_blk .slider .slick-slide:hover {
    box-shadow: 0 0 20px 5px rgba(221, 221, 221, 1);
    transition: .5s;
}
.shop-items_blk .card-body {
    height: 9rem;
    background: transparent;
}
.shop-items_blk .card-title {
    display: inline-block;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 25px;
    color: #E13075;
}
.shop-items_blk .card-title:after {
    background-color: #E13075;
    display: block;
    margin-top: 5%;
    content: "";
    height: 2px;
    width: 0;
    transition: width .5s ease-in-out;
}
.shop-items_blk .card-title:hover:after,
.shop-items_blk .card-title:focus:after {
    width: 100%;
}
.shop-items_blk .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 22px;
    color: #000000;
}
.shop-items_blk .card-text:after {
    background-color: #E13075;
    display: block;
    margin-top: 1%;
    content: "";
    height: 2px;
    width: 0;
    transition: width .5s ease-in-out;
}
.shop-items_blk .card-text:hover:after,
.shop-items_blk .card-text:focus:after {
    width: 85%;
}
.hair-top_blk {
    background: #F2F2F2;
}
.hair-top_blk .card-body {
    background: #F2F2F2;
}
.shop-items_blk .slider {
    position: relative;
}
.shop-items_blk .prev,
.shop-items_blk .next {
    position: absolute;
    top: 50%;
    font-size: 2rem;
    z-index: 1;
    cursor: pointer;
    color: #ffffff;
}
.shop-items_blk .next {
    right: 0;
}

footer {
    font-size: 1.2rem;
    line-height: 22px;
    background: #E7B9CB;
}
footer ul li {
    margin-right: 3%;
}
footer hr {
    background-color: #E13075;
}
footer .contact-list {
    font-size: 1rem;
    line-height: 22px;
}

@media (min-width: 520px) and (max-width: 768px) {
    .nav_block .nav-item .nav-link {
        margin-right: 0;
    }
}
@media (min-width: 320px) and (max-width: 520px) {
    footer ul li {
        padding-bottom: .5rem;
    }
    footer ul li:last-child {
        padding-bottom: 0;
    }
    .nav_block .nav-item .nav-link {
        margin-right: 0;
    }
}

