html {
    scroll-behavior: smooth;
}

.card-img-top {
    /*height: 300px !important;*/
    /*width: auto !important;*/
    margin: auto !important;
    /*width: 100% !important;*/
    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;
}

.card-img-top-main {
    /*height: 300px !important;*/
    /*width: auto !important;*/
    /*width: 100% !important;*/
    margin: auto !important;
    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;
}

.fix-top {
    z-index: 100;
    position: sticky;
    top: 0;
    min-height: 2em;
    background: white;
}

.sub-btn {
    font-size: .8rem !important;
}

@media (max-width: 426px) {
    .sub-btn {
        font-size: .6rem !important;
    }
    .cancel-btn
    {
        font-size: .8rem !important;
    }
}

.fix-top-brand {
    z-index: 100;
    position: sticky;
    top: 55px;
    min-height: 2em;
    background: #444;
}

@media (max-width: 769px) {
    .fix-top-brand {
        top: 56px !important;
    }
}

body {
    background-color: #fff;
    font-family: 'Comfortaa', cursive;
}

button:active, button:focus {
    outline: none;
}

.h_vh {
    height: 70vh;
}

@media (max-width: 768px) {
    .h_vh {
        height: 20vh;
    }

    .items_hdr_bg {
        height: 10rem !important;
    }
}

@media (max-width: 425px) {
    .item_hdr_bg_layout h2 {
        font-size: 1.75rem !important;
    }
}

p {
    white-space: pre-line;
}

.absolute_footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.colorCopy {
    background-color: rgba(0, 0, 0, .2);
    color: black;
    font-size: .9rem;
}

.colorCopy a:hover {
    cursor: pointer;
    text-decoration: underline;
}

#notice_style {
    position: absolute;
    background-color: black;
    /*height: 50px; */
    /*width: 50px;*/
    left: 50%;
    /*top:50%;*/
    /*top: 0px;*/
    /*left: 0px;*/
    /*transform: translate(50%,50%);*/
    transform: translateX(-50%);
    bottom: 10%;
    z-index: 999;
    padding: 30px;
    color: white;
    display: none;
}

.noty_body {
    text-align: center;
    padding: 15px 25px;
    background-color: white;
    color: black;
    border: 3px solid #d1a3b5;
    border-radius: 7px;
    font-size: 1.2rem;
    margin: auto;
    margin-bottom: 5px;
}

/*@media (max-width: 576px){*/
/*    #noty_layout__bottomCenter{*/
/*        max-width: 100%;*/
/*    }*/
/*}*/
/*@media (min-width: 576px) and (max-width: 768px){*/
/*    #noty_layout__bottomCenter{*/
/*        max-width: 80%;*/
/*    }*/
/*}*/
/*@media (min-width: 768px) and (max-width: 992px){*/
/*    #noty_layout__bottomCenter{*/
/*        max-width: 70%;*/
/*    }*/
/*}*/
/*@media (min-width: 992px) and (max-width: 1200px){*/
/*    #noty_layout__bottomCenter{*/
/*        max-width: 50%;*/
/*    }*/
/*}*/
/*@media (min-width: 1200px) and (max-width: 2000px){*/
/*    #noty_layout__bottomCenter{*/
/*        max-width: 40%;*/
/*    }*/
/*}*/
/*@media (min-width: 2000px) {*/
/*    #noty_layout__bottomCenter{*/
/*        max-width: 30%;*/
/*    }*/
/*}*/


a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #000000;
}

.header {
    background: #E7B9CB;
    font-size: 1.2rem;
    line-height: 22px;
    /*overflow-x: hidden;*/
}

.header h1 {
    font-size: 1.2rem;
    line-height: 22px;
}

.header hr {
    border: 1px solid #000000;
}

@media (min-width: 768px) {
    .header a {
        position: relative;
        top: 10px;
    }
}

.header .cart-hdr {
    font-size: 1rem;
    line-height: 18px;
}

.nav_block input {
    border-right: none;
}

.nav_block .input-group-text {
    background-color: transparent;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.nav_block .nav-item i {
    font-size: .7rem;
}

.nav_block .nav-item .nav-link {
    padding-left: 0;
    margin-right: 1.5rem;
    color: #000000;
}

@media (max-width: 1400px) {
    .nav_block .nav-item .nav-link {
        margin-right: 0.5rem !important;
    }
}

@media (max-width: 1053px) {
    .nav_block .nav-item .nav-link {
        margin-right: 0.2rem !important;
    }
}

@media (max-width: 1025px) {
    .nav_block .nav-item .nav-link {
        margin-right: 0rem !important;
    }
}

.nav_block .dropdown-menu .dropdown-item {
    color: #000000;
}

.nav_block .dropdown-menu a.dropdown-item {
    width: auto;
    display: inline-block;
}

.nav_block .nav-item .nav-link:after,
.nav_block .dropdown-menu .dropdown-item:after {
    background-color: #E13075;
    display: block;
    margin-top: 1%;
    content: "";
    height: 2px;
    width: 0;
    transition: width .5s ease-in-out;
}

.nav_block .nav-item .nav-link:hover:after,
.nav_block .nav-item .nav-link:focus:after,
.nav_block .dropdown-menu .dropdown-item:hover:after,
.nav_block .dropdown-menu .dropdown-item:focus:after {
    width: 100%;
}

.nav_block .nav-item .nav-link:hover,
.nav_block .dropdown-menu .dropdown-item:hover {
    color: #000000;
}

div.dropdown-menu label:hover, div.dropdown-menu label:focus {
    text-decoration: none !important;
    background-color: #f8f9fa !important;
}

.dropdown-item.active, .dropdown-item:active {
    background: none !important;
}

.items_hdr_bg {
    height: 25rem;
    min-height: 10rem;
}

.hair_hdr_bg {
    background: url(/static/image/hair-item.png);
    background-size: cover;
}

.face_hdr_bg {
    background: url(/static/image/face-item.png);
    background-size: cover;
}

.body_hdr_bg {
    background: url(/static/image/body-item.png);
    background-size: cover;
}

.others_hdr_bg {
    background: url(/static/image/others-item.png);
    background-size: cover;
}

.item_hdr_bg_layout {
    height: 100%;
    width: 100%;
    background: rgba(51, 51, 51, 0.3);
    border: 2px solid white;
}

.item_hdr_bg_layout a {
    color: #FFFFFF;
}

.item_hdr_bg_layout h2 {
    font-size: 2.5rem;
    line-height: 54px;
    text-align: center;
    margin: 0;
}

.shop-items_blk h3 {
    margin: 0;
    margin-bottom: 1.5rem;
    padding-bottom: .3rem;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 27px;
    color: #000000;
    border-bottom: 2px solid #E13075;
}

.shop-items_blk .card {
    border-radius: 0;
    border: none;
}

/*.clearfix {*/
/*  zoom: 1;*/
/*}*/

/*.clearfix:before,*/
/*.clearfix:after {*/
/*  display: table;*/
/*  line-height: 0;*/
/*  content: "";*/
/*}*/

/*.clearfix:after {*/
/*  clear: both;*/
/*}*/

.shop-items_blk .slider .slick-slide:hover {
    box-shadow: 0 0 20px 5px rgba(221, 221, 221, 1);
    transition: .5s;
}
.card-img{
    height: 200px;
    overflow: hidden;
    text-align: center;
}
@media (min-width: 320px) and (max-width: 768px) {
    .card-img {
        height: 150px;
    }
}
.card-img-catalog{
    height: 200px;
    overflow: hidden;
    text-align: center;
}
@media (min-width: 320px) and (max-width: 425px) {
    .card-img-catalog {
        height: 100px;
    }
}
.card-img-basket{
    height: 100px;
    overflow: hidden;
    text-align: center;
}
.shop-items_blk .card-body {
    height: 9rem;
    background: transparent;
}

.shop-items_blk .card-title {
    display: inline-block;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 25px;
    color: #E13075;
}

.shop-items_blk .card-title:after {
    background-color: #E13075;
    display: block;
    margin-top: 5%;
    content: "";
    height: 2px;
    width: 0;
    transition: width .5s ease-in-out;
}

.shop-items_blk .card-title:hover:after,
.shop-items_blk .card-title:focus:after {
    width: 100%;
}

.shop-items_blk .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 22px;
    color: #000000;
}

.shop-items_blk .card-text:after {
    background-color: #E13075;
    display: block;
    /*margin-top: 1%;*/
    content: "";
    height: 2px;
    width: 0;
    transition: width .5s ease-in-out;
}

.shop-items_blk .card-text:hover:after,
.shop-items_blk .card-text:focus:after {
    width: 85%;
}

.hair-top_blk {
    background: #F2F2F2;
}

.hair-top_blk .card-body {
    background: #F2F2F2;
}

.shop-items_blk .slider {
    position: relative;
}

.shop-items_blk .prev,
.shop-items_blk .next {
    position: absolute;
    top: 50%;
    font-size: 2rem;
    z-index: 1;
    cursor: pointer;
    /*color: #ffffff;*/
    color: #C4C4C4;
}

.shop-items_blk .next {
    right: 0;
}

.nav_block {
    border-bottom: 1px solid #E0E0E0;
}

.custom-breadcrumb {
    background: transparent;
}

.custom-breadcrumb .home-icon {
    font-size: 1.2rem;
    color: #4f4f4f;
}

.custom-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    font-family: "FontAwesome";
    content: "\f054";
    color: #4f4f4f;
}

.custom-breadcrumb .breadcrumb-item.active a {
    color: #4F4F4F;
    border-bottom: 1px solid transparent;
}

.custom-breadcrumb .breadcrumb-item.active a:hover {
    border-bottom: 1px solid #4F4F4F;
    transition: .5s;
}

.delivery_blk,
.payment_blk {
    color: #000000;
}

.head_blk h1 {
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 31px;
}

.feedback-form h2 {
    font-size: 1.5rem;
    line-height: 25px;
    color: #000000;
}

.feedback-form .form-control {
    border: 1px solid rgba(51, 51, 51, 0.3);
    border-radius: 5px;
}

.feedback-form span {
    font-size: 20px;
    line-height: 22px;
    color: #FF0000;
}

.feedback-form button {
    background: #E7B9CB;
    border: 1px solid #E7B9CB;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 22px;
    color: #000000;
}

.feedback-form button:hover {
    transition: .5s;
    background: none;
}

.social_blk hr {
    background: #E13075;
}

.social_blk h3 {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 27px;
    text-align: center;
    color: #000000;
}

.social_blk img {
    padding-top: 1.7rem;
}

.social_blk .ellipse {
    background: transparent;
    border: 1px solid rgba(51, 51, 51, 0.3);
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
}

.social_blk .ellipse:hover {
    box-shadow: 0 0 20px 5px rgba(221, 221, 221, 1);
    transition: .5s;
}

.sort_col .sort-select {
    position: absolute;
    bottom: 0;
    right: 0;
}

.sort_col .form-control {
    border: 1px solid #E5E5E5;
    border-radius: 5px;
}

.items_catalog .filter_form {
    box-shadow: 0px 0px 10px #C4C4C4;
    border-radius: 0;
}

.items_catalog .filter-body_form {
    border-bottom: 1px solid #E5E5E5;
}

.items_catalog .filter-body_form .card-title {
    font-weight: bold;
    line-height: 25px;
    color: #000000;
}

.items_catalog .filter-body_form .card-body {
    font-weight: bold;
    font-size: .9rem;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.5);
}

.items_catalog .filter-body_form .input-group-text {
    background-color: transparent;
    border: 1px solid #E5E5E5;
    border-right: none;
    font-weight: bold;
    color: #000000;
}

.items_catalog .filter-body_form .form-control {
    border-left: none;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    padding: 1.3rem 0;
}

.items_catalog .filter-body_form .form-control::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.items_catalog .filter-body_form .card-body .custom-control-label {
    padding-top: .2rem;
}

.items_catalog .filter-body_form .custom-checkbox .custom-control-label::before {
    border-radius: 0;
    transition: .5s;
}

.items_catalog .filter-body_form .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #E7B9CB;
    background-color: #E7B9CB;
}

.items_catalog .filter-body_form .btn-link i {
    color: #C4C4C4;
}

.items_catalog .filter-body_form .btn-link[data-toggle="collapse"].collapsed {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.items_catalog .filter-body_form .card-footer {
    border-top: none;
    background-color: transparent;
}

.items_catalog .filter-body_form .card-footer .btn {
    background: #E7B9CB;
    border: 1px solid #E7B9CB;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 20px;
    color: #000000;
    width: 85%;
}

.items_catalog .filter-body_form .card-footer .btn:hover {
    background-color: transparent;
    transition: .5s;
}

.items-list_catalog .card-deck .card {
    margin: 0 .2rem .2rem;
    padding: 0;
    border: none;
    transition: .5s;
}

.items-list_catalog .card-deck .sale-card .wrap {
    color: rgba(0, 0, 0, .5);
}

.items-list_catalog .card-deck .sale-card .wrap span.sale {
    position: absolute;
    padding: .5rem;
    margin-left: 1rem;
    color: #ffffff;
    font-weight: 600;
    background: #E7B9CB;
    /*writing-mode: vertical-rl;*/
    /*text-orientation: upright;*/
    z-index: 1;
}
.items-list_catalog .card-deck .wrap span.hit {
    position: absolute;
    padding: .5rem;
    margin-right: 1rem;
    right: 0;
    color: #ffffff;
    font-weight: 600;
    background: #E7B9CB;
    /*writing-mode: vertical-rl;*/
    /*text-orientation: upright;*/
    z-index: 1;
}

.items-list_catalog .card-deck .sale-card .wrap span.null-count {
    position: absolute;
    padding: .5rem;
    margin-left: 1rem;
    color: #000000;
    font-weight: 400;
    background: rgb(238, 238, 238);
    /*writing-mode: vertical-rl;*/
    /*text-orientation: upright;*/
    z-index: 1;
}

.items-list_catalog .card-deck .sale-card .old-price {
    color: #BABABA;
    text-decoration: line-through;
    text-decoration-color: #E13075;
}

.old-price-card {
    text-decoration: line-through;
    text-decoration-color: #E13075;
    font-size: 1rem;
}

.card-price-block i.fa-tag {
    color: #E13075;
}

.items-list_catalog .card-deck .sale-card .wrap img {
    z-index: 10;
}

.item-card_blk .items-list_catalog .card-deck .card {
    margin: .2rem .2rem;
}

.items-list_catalog .card-deck .card .card-body {
    padding: .5rem;
}

.items-list_catalog .card-deck .card .btn-buy,
.change-pass_blk {
    display: none;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #E7B9CB;
    background-color: #E7B9CB;
}

.cart_blk .btn,
.login-btn,
.save-btn,
.item-card_blk .card .btn,
.items-list_catalog .card-deck .card .btn-buy {
    background: #E7B9CB;
    border: 1px solid #E7B9CB;
    border-radius: 5px;
    width: 93%;
}

.cart_blk .btn:hover,
.login-btn:hover,
.save-btn:hover,
.item-card_blk .card .btn:hover,
.items-list_catalog .card-deck .card .btn-buy:hover {
    background: transparent;
}

.items-list_catalog .card-deck .card .card-footer hr {
    background-color: #C4C4C4;
    margin: .5rem 0;
}

.items-list_catalog .card-deck .card .card-title,
.items-list_catalog .card-deck .card .card-text,
.items-list_catalog .card-deck .card .card-footer {
    text-align: center;
}

.items-list_catalog .card-deck .card .card-title,
.login-form label,
.register-form label,
.address-form label,
.contacts-form label {
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.address-form label,
.contacts-form label {
    font-size: 16px;
}

.register-form label span,
.address-form label span,
.contacts-form label span {
    font-size: 1.5rem;
    line-height: 33px;
    color: #E13075;
}

.items-list_catalog .card-deck .card .card-text {
    font-size: 14px;
    line-height: 20px;
    color: rgba(51, 51, 51, 0.5);
    transition: .5s;
    margin: 0;
    /*height: 3rem;*/
}

.items-list_catalog .card-deck .card:hover .card-text {
    display: none;
}

.items-list_catalog .card-deck .card:hover .btn-buy {
    display: block;
    transition: .5s;
}

.items-list_catalog .card-deck .card .card-footer {
    background-color: transparent;
    border-top: none;
    padding: 0 1rem 1.7rem 1rem;
}

.items-list_catalog .card-deck .card .card-footer .text-muted {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #E13075 !important;
}

.items-list_catalog .card-deck .card:hover {
    box-shadow: 0px 0px 10px #C4C4C4;
    z-index: 9;
}

.items-list_catalog .nav_blk .page-link,
.news_blk .nav_blk .page-link {
    border: none;
    color: #000000;
}

.items-list_catalog .nav_blk .page-link:hover,
.news_blk .nav_blk .page-link:hover {
    background-color: transparent;
    color: #E13075;
}

.items-list_catalog .nav_blk .page-link:focus,
.news_blk .nav_blk .page-link:focus {
    box-shadow: 0 0 0 0.2rem rgba(225, 48, 117, .25);
}

.items-list_catalog .nav_blk .page-link span i,
.news_blk .nav_blk .page-link span i {
    font-size: 1.3rem;
}

.slick-slide {
    width: 10rem;
}

@media (min-width: 1224px) {
    .card-deck .card {
        flex: 23% 0 0;
    }
}

@media (min-width: 768px) and (max-width: 1224px) {
    .card-deck {
        margin-right: 0;
    }

    .card-deck .card {
        flex: 32% 0 0;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .card-deck .card {
        /*flex: 45% 0 0;*/
        flex: 32% 0 0;
    }
}

@media (min-width: 320px) and (max-width: 425px) {
    .sort_col .sort-select {
        position: relative;
        top: 0.5rem;
    }

    .items-list_catalog .card-deck .card,
    .item-card_blk .items-list_catalog .card-deck .card {
        margin: .2rem 0;
    }
}

.brands_blk .brand-card {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    padding: .5rem;
    text-align: center;
}

.brands_blk .brand-card a {
    font-size: 1rem;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid transparent;
}

.brands_blk .brand-card:hover a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    transition: .5s;
}

.brands_blk .brand-card .scale {
    display: inline-block;
    overflow: hidden;
}

.brands_blk .brand-card .scale img {
    transition: .5s;
    display: block;
}

.brands_blk .brand-card:hover .scale img {
    transform: scale(1.2);
}

.news_blk .card {
    border: none;
    transition: .5s;
}

.news_blk .card .card-body a {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 22px;
    color: #000000;
    border-bottom: 1px solid transparent;
    transition: .5s;
}

.news_blk .card .card-body .card-text {
    font-size: 1rem;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 1rem;
}

.news_blk .card .card-body .card-text .text-muted,
.news-details_blk .text-muted {
    font-size: 1rem;
    line-height: 18px;
    color: #C4C4C4 !important;
}

.news_blk .card .card-body .card-text .text-muted i,
.news-details_blk .text-muted i {
    font-weight: normal;
    font-size: 1.5rem;
    margin-right: .7rem;
}

.news_blk .card:hover {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px #C4C4C4;
}

.news_blk .card:hover .card-body a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

.item-card_blk .vendor-code {
    font-weight: 300;
    font-size: .9rem;
    line-height: 16px;
    color: #4F4F4F;
}

.item-card_blk .card {
    border: none;
}

.item-card_blk .card-text {
    font-size: 1rem;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
}

.item-card_blk .card .card-text b {
    color: #000000;
}

.item-card_blk .badge {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 300;
    line-height: 18px;
    color: #000000;
    padding: .5rem 1.5rem;
    margin: .5rem 1rem .5rem 0;
}

.item-card_blk .badge:hover {
    box-shadow: 0px 0px 10px #C4C4C4;
    transition: .5s;
}

.item-card_blk h2,
.news-details_blk h2 {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 25px;
    color: #000000;
}

.item-card_blk h3,
.news-details_blk h3 {
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 22px;
    color: #000000;
}

.item-card_blk .card .card-text .price-text,
.register-link {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 25px;
    color: #E13075;
}

.item-card_blk .card .btn {
    width: 13rem;
}

.item-card_blk .items-counter .minus, .plus,
.cart_blk .items-counter .minus, .plus {
    padding: .5rem;
    background: transparent;
    border: none;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.item-card_blk .items-counter input,
.cart_blk .items-counter input {
    height: 3rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.2rem;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
}

.item-card_blk input[type="number"]::-webkit-outer-spin-button,
.item-card_blk input[type="number"]::-webkit-outer-spin-button,
.cart_blk input[type="number"]::-webkit-outer-spin-button,
.cart_blk input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.news-details_blk p {
    font-size: 1rem;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
}

.news-details_blk .card-wrap {
    margin: 10px;
}

.news-details_blk .items-list_catalog .card-deck .card:hover {
    box-shadow: none;
}

.news-details_blk .items-list_catalog .card-deck .card:hover .card-wrap {
    box-shadow: 0px 0px 10px #C4C4C4;
    transition: .5s;
}

.news-details_blk .items-list_catalog .slider {
    position: relative;
}

.news-details_blk .items-list_catalog .prev,
.news-details_blk .items-list_catalog .next,
.item-card_blk .items-list_catalog .prev,
.item-card_blk .items-list_catalog .next {
    position: absolute;
    top: 50%;
    font-size: 2rem;
    margin: 0 -1rem;
    z-index: 1;
    cursor: pointer;
    color: #E0E0E0;
}

.news-details_blk .items-list_catalog .next,
.item-card_blk .items-list_catalog .next {
    right: 0;
}

@media (max-width: 425px) {
    .news-details_blk .items-list_catalog .prev,
    .news-details_blk .items-list_catalog .next {
        margin: 0;
    }
}

.cart_blk .card {
    border: none;
}

.cart_blk .card .item-name {
    font-weight: 300;
    font-size: 1rem;
    line-height: 22px;
    color: #000000;
    border-bottom: 1px solid transparent;
}

.cart_blk .card .item-name:hover {
    border-bottom: 1px solid #4F4F4F;
    transition: .5s;
}

.cart_blk .card .price, .price-product-one,
.cart_blk .card .price-text {
    font-weight: bold;
    font-size: 1rem;
    line-height: 20px;
}

.cart_blk .card .price, .price-product-one,
.order_history .order-price {
    color: rgba(0, 0, 0, 0.5);
}

.cart_blk .price-text, .price-product-all,
.cart_blk .card .price-text,
.items-list_catalog .card-deck .sale-card i,
.order_history .order-status {
    color: #E13075;
}

.cart_blk .price-text, .price-product-all {
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 25px;
}

.cart_blk .card .items-counter .minus i,
.cart_blk .card .items-counter .plus i {
    font-size: .9rem;
}

.cart_blk .card .items-counter input {
    height: 2.7rem;
}

.cart_blk .card .del-btn i {
    font-size: 1.2rem;
    color: #c4c4c4;
}

.btn_cart_del_item {
    background-color: transparent;
    border: none;
}

.cart_blk .btn,
.login-btn {
    width: 25%;
}

@media (min-width: 1024px) and (max-width: 2560px) {
    .address-form .save-btn,
    .contacts-form .save-btn {
        width: 30%;
    }
}

@media (min-width: 1024px) {
    .register-form .login-btn {
        width: 27%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .address-form .save-btn,
    .contacts-form .save-btn {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .cart_blk .btn,
    .login-btn {
        width: 35%;
    }

    .item-card_blk .items-list_catalog .prev,
    .item-card_blk .items-list_catalog .next {
        display: none !important;
    }

    .address-form .save-btn,
    .contacts-form .save-btn {
        width: 55%;
    }
}

@media (max-width: 425px) {
    .cart_blk .btn,
    .login-btn {
        width: 65%;
    }

    .register-form .login-btn {
        width: 80%;
    }

    .address-form .save-btn,
    .contacts-form .save-btn {
        width: 90%;
    }
}

.login-form .form-control,
.register-form .form-control,
.address-form .form-control,
.contacts-form .form-control {
    border: 1px solid #C4C4C4;
    border-radius: 5px;
}

.login-form .register-link,
.register-form .login-link {
    font-size: 1.1rem;
}

.login-form .restore-link:hover,
.login-form .register-link:hover {
    text-decoration: underline;
}

.login-form .register-link:hover {
    color: #E13075;
}

.login-form .hr-divider {
    margin-top: 2.3em;
}

.register-form .hr-divider,
.address-form .hr-divider,
.contacts-form .hr-divider {
    margin-top: 3.5em;
}

.register-form .notice i,
.address-form .notice i,
.contacts-form .notice i {
    color: #c4c4c4;
    font-size: 1.5rem;
}

.hr-divider {
    border: .5px solid #C4C4C4;
}

.nav_menu:after {
    content: "";
    display: block;
    /*position: absolute;*/
    /*top: 50%;*/
    position: relative;
    bottom: 5rem;
    left: 65%;
    width: 55%;
    height: 1px;
    background-color: #c4c4c4;
    transform: rotate(90deg);
}

.nav_menu a:hover {
    text-decoration-line: underline;
    text-decoration-skip-ink: none;
}

.order_history a:hover {
    border-bottom: 1px solid #000000;
}

.order_history .order-price,
.order_history .order-status {
    font-size: 0.9rem;
    font-weight: bold;
}

.order_history::after {
    content: "";
    display: block;
    position: relative;
    left: 1.5%;
    width: 95%;
    height: 1px;
    margin-top: 1.5rem;
    background-color: #c4c4c4;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 1.2rem;
    line-height: 22px;
    background: #E7B9CB;
}

footer ul li {
    margin-right: 3%;
}

.item-card_blk hr,
.news-details_blk hr,
footer hr {
    background-color: #E13075;
}

footer .contact-list {
    font-size: 1rem;
    line-height: 22px;
}

@media (min-width: 1440px) {
    .nav_menu:after {
        bottom: 4rem;
        left: 60%;
    }
}

@media (min-width: 770px) and (max-width: 1024px) {
    .map_blk iframe {
        width: 430px;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .map_blk iframe {
        width: 100%;
        height: 20rem;
    }
}

@media (min-width: 520px) and (max-width: 768px) {
    .nav_block .nav-item .nav-link {
        margin-right: 0;
    }

    .nav_menu:after {
        /*top: 40%;*/
        width: 70%;
        left: 55%;
    }
}

@media (min-width: 320px) and (max-width: 520px) {
    footer ul li {
        padding-bottom: .5rem;
    }

    footer ul li:last-child {
        padding-bottom: 0;
    }

    .nav_block .nav-item .nav-link {
        margin-right: 0;
    }

    .nav_menu:after {
        /*top: 100%;*/
        top: 1rem;
        left: 1.5%;
        width: 95%;
        transform: rotate(180deg);
    }
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 1) !important;
    border-color: rgba(0, 0, 0, 1) !important;
}

.back-brand {
    background: #444;
}

.back-brand-light {
    background: white;
}

.brand-letter {
    font-weight: 800;
    font-size: .8rem;
    color: white;
}

.brand-letter:hover {
    color: white;
    text-decoration: none;
}

.brand-letter-block {
    background: rgb(238, 238, 238);
    font-weight: 800;
}

.brand-name:hover {
    cursor: pointer;
}

.select-product-sizes {
    padding: .3rem 1rem;
    border: 2px solid #E7B9CB;
    border-radius: 5px;
    font-weight: bolder;
}

/*----------wrapper-------------*/
.send {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    width: 3rem;
    height: 3rem;
    /*font-size: 0rem;*/
    background: rgba(225, 48, 117, .8);
    border-radius: 50%;
    padding: .7rem;
    transition: .3s;
    z-index: 9999;
}

@media (max-width: 320px) {
    .send-box {
        right: 0.2rem !important;
    }
}

.send:hover {
    background: rgba(225, 48, 117, 1);
    transition: .3s;
    cursor: pointer;
}

.send-box {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    background: rgba(255, 255, 255, 1);
    border-radius: .3rem;
    display: none;
    border: 2px solid rgb(225, 48, 117);
    transition: .3s;
}

.cancel-btn {
    font-size: 1.2rem;
    color: #aaa;
    background: none;
    border: none;
}

.cancel-btn:hover {
    color: #000;
}

.cancel-btn:focus {
    outline: none;
}

#send-box, #send {
    /*display: flex;*/
    animation: radial-pulse 1s infinite;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes radial-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(225, 48, 117, 0.5);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(225, 48, 117, 0);
    }
}

.block-up {
    position: fixed;
    bottom: 1.6rem;
    left: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    color: #fff;
    font-size: 0rem;
    background: rgba(225, 48, 117, .8);
    border-radius: .3rem;
    text-align: center;
    overflow: hidden;
    opacity: 0;
    transition: .3s;
    padding: .7rem;
}

a.up {
    color: #fff;
}

.block-up:hover {
    background: rgba(225, 48, 117, 1);
    transition: .3s;
    cursor: pointer;
}

.active-info {
    display: inline-block !important;
    transition: .3s;
    z-index: 9999;
    opacity: 1;
}

/*----------end wrapper--------------*/


p.need-block {
    color: rgba(225, 48, 117, 1);
}

.conf-btn{
    background: #E7B9CB;
    border: 1px solid #E7B9CB;
    border-radius: 5px;
    padding-left: 3rem;
    padding-right: 3rem;
}
.conf-btn:hover {
    background: transparent;
}
.fw-700{
    font-weight: 700;
}

