{% extends 'layout.html' %}
{% load staticfiles %}
{% block content %}

    <div class="container-fluid p-0">
        <div class="row m-0 justify-content-center">
            <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9 p-md-0 mt-3">
                <div class="row m-0 justify-content-start align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="custom-breadcrumb breadcrumb px-0">
                            <li class="breadcrumb-item"><a href="{% url 'Main' %}"><i class="fa fa-home home-icon"
                                                                                      aria-hidden="true"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a
                                    href="{% url 'News' %}">Новости</a></li>
                            <li class="breadcrumb-item active d-none d-md-block" aria-current="page"><a
                                    href="{{ i.get_absolute_url }}">{{ news.name }}</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9 p-md-0 mt-md-2 news-details_blk head_blk">
                <div class="row m-0 justify-content-start align-items-center">
                    <div class="col-md-7 col-lg-8 col-xl-10 p-0">
                        <h1>{{ news.name }}</h1>
                    </div>
                    <div class="col-md-5 col-lg-4 col-xl-2 px-0 px-md-3 text-md-right">
                        <small class="text-muted">
                            <i class="fa fa-calendar" aria-hidden="true"></i>{{ news.date|date }}
                        </small>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-11 col-lg-12 col-xl-12 p-0 my-md-4 mx-auto">
                    <div class="row m-0 justify-content-center">
                        <div class="">
                            <p><img src="/static/image/news_28.png" class="img-fluid float-md-left" alt="">
                                {% autoescape off %}
                                    {{ news.text|linebreaks }}
                                {% endautoescape %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9 p-md-0 news-details_blk mb-3">
                <div class="row justify-content-between">
                    <div class="col-3 col-md-4">
                        <hr class="">
                    </div>
                    <div class="col-6 col-md-4 pt-1 text-center">
                        <h2>Товары к статье</h2>
                    </div>
                    <div class="col-3 col-md-4">
                        <hr class="">
                    </div>
                </div>
                <div class="items-list_catalog">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-md-0 my-md-4">
                            <div class="row m-0 justify-content-start align-items-center">

                                <!--                            <div class="card-deck ml-md-2">-->
                                <div class="card-deck slider multiple-items w-100">
                                    <div class="card">
                                        <div class="card-wrap">
                                            <img src="/static/image/image-27.png" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">3Lab Увлажняющий крем для лица</h5>
                                                <p class="card-text">Идельно подойдет для ежедневного использования</p>
                                                <button type="submit" class="btn btn-buy mx-auto">Купить</button>
                                            </div>
                                            <div class="card-footer">
                                                <hr>
                                                <small class="text-muted">3 200 руб</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-wrap">
                                            <img src="/static/image/image-28.png" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">3Lab Очищающий скраб для лица</h5>
                                                <p class="card-text">Предназначен для глубокого очищения кожи</p>
                                                <button type="submit" class="btn btn-buy mx-auto">Купить</button>
                                            </div>
                                            <div class="card-footer">
                                                <hr>
                                                <small class="text-muted">1 660 руб</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-wrap">
                                            <img src="/static/image/image-29.png" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">3Lab Очищающий гель для лица</h5>
                                                <p class="card-text">Обеспечивает бережный и тщательный уход</p>
                                                <button type="submit" class="btn btn-buy mx-auto">Купить</button>
                                            </div>
                                            <div class="card-footer">
                                                <hr>
                                                <small class="text-muted">1 530 руб</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-wrap">
                                            <img src="/static/image/image-27.png" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">3Lab Увлажняющий крем для лица</h5>
                                                <p class="card-text">Идельно подойдет для ежедневного использования</p>
                                                <button type="submit" class="btn btn-buy mx-auto">Купить</button>
                                            </div>
                                            <div class="card-footer">
                                                <hr>
                                                <small class="text-muted">3 200 руб</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-wrap">
                                            <img src="/static/image/image-27.png" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">3Lab Увлажняющий крем для лица</h5>
                                                <p class="card-text">Идельно подойдет для ежедневного использования</p>
                                                <button type="submit" class="btn btn-buy mx-auto">Купить</button>
                                            </div>
                                            <div class="card-footer">
                                                <hr>
                                                <small class="text-muted">3 200 руб</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--                        </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}