{% extends 'layout.html' %}
{% load staticfiles %}
{% load poll_extras %}
{% block content %}

    <div class="container-fluid p-0">
        <div class="row m-0 justify-content-center">
            <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9 p-md-0 mt-3">
                <div class="row m-0 justify-content-start align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="custom-breadcrumb breadcrumb px-0">
                            <li class="breadcrumb-item"><a href="{% url 'Main' %}"><i class="fa fa-home home-icon"
                                                                                      aria-hidden="true"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a
                                    href="{% url 'Catalog' category %}">{{ head }}</a></li>
                            <li class="breadcrumb-item active d-none d-md-block" aria-current="page">
                                <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9 p-md-0 item-card_blk head_blk">
                <div class="row m-0 justify-content-start align-items-center">
                    <div class="col-md-7 col-lg-8 col-xl-10 p-0">
                        <h1>{{ item.title }}</h1>
                    </div>
                    <div class="col-md-5 col-lg-4 col-xl-2 px-0 px-md-3 text-md-right">
                        <span class="vendor-code">Артикул: {{ item.artikul }}</span>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-11 col-lg-12 col-xl-12 p-0 mt-3 mx-auto">
                    <div class="row m-0 justify-content-start align-items-center">
                        <div class="card mb-3">
                            <div class="row no-gutters">
                                <div class="col-12 col-md-5 col-lg-4 my-auto">
                                    {% if item.main_photo != null and item.main_photo != '' %}
                                        <img src="{{ MEDIA_URL }}{{ item.main_photo.url }}" class="card-img img-fluid"
                                             alt="">
                                    {% endif %}
                                </div>
                                <div class="col-12 col-md-7 col-lg-8">
                                    <div class="card-body">
                                        <p class="card-text">{{ item.description }}</p>

                                        {% if not sizename %}
                                            <p class="card-text text-center text-md-left d-inline-block">Объемы:</p>
                                            <select name="" id="select_product_sizes" class="select-product-sizes">
                                                {% for i in sizes %}
                                                    <option value="{{ i.0 }}">{{ i.1 }} мл.</option>
                                                {% endfor %}
                                            </select>
                                        {% else %}
                                            <p class="card-text text-center text-md-left d-inline-block">Объем:</p>
                                                <b>{{ sizename}} мл</b>
                                        {% endif %}
                                        <p class="card-text text-center text-md-left">
                                            <span class="price-text" id="product_price">{{ item.get_price.price }} руб</span>
                                        </p>
                                        <div class="items-counter mb-4 text-center text-md-left">
                                            <button class="minus"><i class="fa fa-minus" aria-hidden="true"></i>
                                            </button>
                                            <input type="number" value="1" min="1" id="item_count"/>
                                            <button class="plus"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                        </div>
                                        <div class="text-center text-md-left">
                                            <button class="btn" data-slug="{{ item.slug }}" id="btn_add_to_cart">В
                                                корзину
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9 p-md-0 item-card_blk mb-5">
                <div class="row m-0 justify-content-start align-items-center">
                    <div class="col-12 p-0">
                        <h3>Потребности:</h3>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 mt-2">
                    <div class="row m-0 justify-content-start align-items-center">
                        {% for i in item.needed %}
                            <a href="{% url 'Catalog_search' category i.need.id|make_search_url:"needs" %}"><span
                                    class="badge">{{ i.need.name }}</span></a>
                        {% endfor %}
                        {#                    <a href=""><span class="badge">Жирная кожа</span></a>#}
                        {#                    <a href=""><span class="badge badge-light">Комбинированная кожа</span></a>#}
                        {#                    <a href=""><span class="badge badge-light">Проблемная кожа</span></a>#}
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9 p-md-0 item-card_blk mb-5">
                <div class="row m-0 justify-content-start align-items-center">
                    <div class="col-12 p-0">
                        <h3>Примечание:</h3>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 mt-3">
                    <div class="row m-0 justify-content-start align-items-center">
                        {#                    <p class="card-text">{{ item.note|linebreaks }}</p>#}
                        <p class="card-text">{{ item.note }}</p>
                        {#                    {% autoescape off %}#}
                        {#                    <p class="card-text">{{ item.note }}</p>#}
                        {#                    {% endautoescape %}#}
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9 p-md-0 item-card_blk mb-5">
                <div class="row m-0 justify-content-start align-items-center">
                    <div class="col-12 p-0">
                        <h3>Состав:</h3>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 mt-3">
                    <div class="row m-0 justify-content-start align-items-center">
                        <p class="card-text">{{ item.components }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9 p-md-0 item-card_blk mb-3">
                <div class="row justify-content-between">
                    <div class="col-3 col-md-4">
                        <hr class="">
                    </div>
                    <div class="col-6 col-md-4 pt-1 text-center">
                        <h2>Похожие товары</h2>
                    </div>
                    <div class="col-3 col-md-4">
                        <hr class="">
                    </div>
                </div>
                <div class="items-list_catalog">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-md-0 my-md-4">
                            <div class="row m-0 justify-content-start align-items-center">
                                {#                                <div class="card-deck ml-md-2">#}
                                <div class="card-deck slider multiple-items w-100">

                                    {% for i in prods %}
                                        <div class="card">
                                            <a href="{{ i.product.get_absolute_url }}">
                                                <div class="card-wrap">
                                                    {% if i.product.main_photo %}
                                                        <img src="{{ MEDIA_URL }}{{ i.product.main_photo.url }}"
                                                             class="card-img-top" alt="...">
                                                    {% endif %}
                                                    <div class="card-body">
                                                        <h5 class="card-title">{{ i.product.title }}</h5>
                                                        <p class="card-text">{{ i.product.shot_description }}</p>
                                                        <button type="button" class="btn btn-buy mx-auto">Купить
                                                        </button>
                                                    </div>
                                                    <div class="card-footer">
                                                        <hr>
                                                        <small class="text-muted">{{ i.product.get_price.price }} руб</small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}